<a href="https://colab.research.google.com/github/BhojRajBist/BhojRajBist/blob/main/Python_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = 20

In [2]:
if age>18:
  print("Your are adult")
elif age==18:
  print("You just became an adult")

Your are adult

In [3]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
c = 0

while c<4:
  print(c)
  c+=1

0
1
2
3

In [5]:
def greet(name):
  return f"Hello,{name}!! "

print(greet("Developer"))

Hello,Developer!!

Spatial code

In [26]:


import math

def calculate_distance(c1,c2):
  """
  Calculate Euclidean disatance between two coordinates.
  Args:
        c1(tuple):(x1,y1)
        c2(tuple):(x2,y2)
  Returns:
        float:Euclidean distance
  """
  try:
    x1,y1 =c1
    x2,y2 =c2
    return(math.sqrt((x2-x1)**2+(y2-y1)**2))

  except ValueError as e:
    print("Error: Coordinates must be tuples of two numbers")

    raise e


coordinates =[
    (1,2),
    (3,4),
    (5,8),
    (10,12),
    (-2,-4),
]



for c in coordinates:
  if c[0]>0 and c[1]>0:
    print(f"Coordinates {c} are in first quarant")
  elif c[0]<0 and c[1]>0:
    print(f"Coordinates {c} are in second quadrant")
  elif c[0]<0 and c[1]<0:
    print(f"Coordinates {c} are in third quadrant")
  elif c[0]>0 and c[1]<0:
    print(f"Coordinates {c} are in fourth quadrant")
  else:
    print("Origin")


def closest_point(referance ,points):
  """
      Find the closest point to the reference.
    Args:
        reference (tuple): Reference coordinate (x, y)
        points (list): List of coordinates
    Returns:
        tuple: Closest coordinate
"""
  try:
    distance = [calculate_distance(referance , point) for point in points]
    min_distance = min(distance)
    closest = points[distance.index(min_distance)]
    return closest

  except Exception  as e:
     print("Error: Something went wrong")
     raise




referance_point =(0,0)


closest =closest_point(referance_point,coordinates)


if closest:
          print(f"The closest point to the reference is {closest}")
else:
          print("No points found")

Coordinates (1, 2) are in first quarant
Coordinates (3, 4) are in first quarant
Coordinates (5, 8) are in first quarant
Coordinates (10, 12) are in first quarant
Coordinates (-2, -4) are in third quadrant
The closest point to the reference is (1, 2)

Some practice samples related to the data types

In [27]:
numbers = [3,1,4,1,5]

In [28]:
print(numbers)

[3, 1, 4, 1, 5]

In [31]:
numbers.append(9)
print(numbers)

[3, 1, 4, 1, 5, 9, 9]

In [32]:
numbers.insert(0,2)
print(numbers)

[2, 3, 1, 4, 1, 5, 9, 9]

In [33]:
numbers.sort()
print(numbers)

[1, 1, 2, 3, 4, 5, 9, 9]

In [34]:
numbers.reverse()

In [35]:
print(numbers)

[9, 9, 5, 4, 3, 2, 1, 1]

In [36]:
print(max(numbers))

9

In [37]:
student = {"name": "Alice", "age": 25, "grade": "A"}

In [38]:
print(student["name"])

Alice

In [39]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
f ={}

for word in words:
  f[word] = f.get(word,0)+1

print(f)

{'apple': 1, 'banana': 1, 'cherry': 1, 'date': 1, 'elderberry': 1}

In [40]:
grades = {"Alice": 90, "Bob": 85, "Charlie": 95}

In [41]:
average = sum(grades.values())/len(grades)
print(average)

90.0


**JSON (JavaScript Object Notation)
What:
A lightweight format to store and transfer data. Python provides the json module to work with JSON.**

json.dumps: Convert Python object to JSON string.
json.loads: Convert JSON string to Python object.

In [42]:
import json


data = {"name": "Alice", "age": 25, "grade": "A"}

json_data = json.dumps(data)

print(json_data)

{"name": "Alice", "age": 25, "grade": "A"}

In [43]:
python_obj = json.loads(json_data)
print(python_obj)

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [44]:
print(python_obj['name'])

Alice

In [45]:
import json

geojson_data = {
    "type": "FeatureCollection",
    "features": [
        {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [85.324, 27.7172]
            },
            "properties": {"name": "Kathmandu"}
        }
    ]
}

geojson_string = json.dumps(geojson_data)
print(geojson_string)

{"type": "FeatureCollection", "features": [{"type": "Feature", "geometry": {"type": "Point", "coordinates": [85.324, 27.7172]}, "properties": {"name": "Kathmandu"}}]}

In [49]:
geojson_response = """
{
    "type": "FeatureCollection",
    "features": [
        {
            "type": "Feature",
            "geometry": {"type": "Point", "coordinates": [85.3240, 27.7172]},
            "properties": {"name": "Kathmandu"}
        },
           {
            "type": "Feature",
            "geometry": {"type": "Point", "coordinates": [85.3240, 27.7172]},
            "properties": {"name": "Pokhara"}
        }
    ]
}
"""
# parsed_geojson = json.loads(geojson_response)
# features = parsed_geojson["features"]
# for feature in features:
#     print("Name:", feature["properties"]["name"])
#     print("Coordinates:", feature["geometry"]["coordinates"])

prased_geojson = json.loads(geojson_response)

In [53]:
features = prased_geojson["features"]
for feature in features:
  print("Name : " ,feature["properties"]["name"])
  print("Coordinates: " , feature["geometry"]["coordinates"])

Name :  Kathmandu
Coordinates:  [85.324, 27.7172]
Name :  Pokhara
Coordinates:  [85.324, 27.7172]